node_modules
.next/app-build-manifest.json
.next/app-path-routes-manifest.json
.next/BUILD_ID
.next/build-manifest.json
.next/export-marker.json
.next/images-manifest.json
.next/next-minimal-server.js.nft.json
.next/next-server.js.nft.json
.next/package.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/trace
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/edge-server-production/index.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/app-paths-manifest.json
.next/server/font-manifest.json
.next/server/functions-config-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found.html
.next/server/app/_not-found.meta
.next/server/app/_not-found.rsc
.next/server/app/index.html
.next/server/app/index.meta
.next/server/app/index.rsc
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.nft.json
.next/server/chunks/682.js
.next/server/chunks/819.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/static/Gz8D8jGUOz_xU-ZKqf8vi/_buildManifest.js
.next/static/Gz8D8jGUOz_xU-ZKqf8vi/_ssgManifest.js
.next/static/chunks/8e1d74a4-9741d5897825a36e.js
.next/static/chunks/30a37ab2-37ca958db96d5f08.js
.next/static/chunks/117-26ce4eb69b7fcf4d.js
.next/static/chunks/193-b0d4dc5a522b33f0.js
.next/static/chunks/fd9d1056-cce117dc4e21e608.js
.next/static/chunks/framework-f66176bb897dc684.js
.next/static/chunks/main-app-5ab00f14b40991fa.js
.next/static/chunks/main-b003398231a41d1c.js
.next/static/chunks/polyfills-42372ed130431b0a.js
.next/static/chunks/webpack-c81f7fd28659d64f.js
.next/static/chunks/app/layout-1bf9e5b3054c251b.js
.next/static/chunks/app/page-53653abf10a04966.js
.next/static/chunks/app/_not-found/page-756e6e8a259ba367.js
.next/static/chunks/pages/_app-72b849fbd24ac258.js
.next/static/chunks/pages/_error-7ba65e1336b92748.js
.next/static/css/64eb9f8b6691896a.css
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
